body { 
    padding: 10px; 
}

#input-wrapper,
#leagueIDs-list-wrapper {
    margin-bottom: 15px;
}

.leagueIDs-list-item {
    height: 55px;
    margin-bottom: 10px;
}

.remove {
    float: right;
}

.tie-breaker {
	margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}