body { 
    padding: 10px; 
}

#input-wrapper,
#leagueIDs-list-wrapper {
    margin-bottom: 15px;
}

.leagueIDs-list-item {
    height: 35px;
}

.remove {
    float: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}